body{
    background-color:navajowhite

}
.body-class{
    background-image: url(https://image.shutterstock.com/image-vector/bank-deposit-thin-line-style-260nw-1132400639.jpg);
    background-size: cover;
   
}