body{
    background-color:navajowhite

}
.body-class{
    background-image: url(https://m.economictimes.com/thumb/msid-71087435,width-1200,height-900,resizemode-4,imgsize-123119/bank-agencies.jpg);
    background-size: cover;
   
}